flows1.json
[{"id":"163859f2.d029e6","type":"tab","label":"Beginner HTML","disabled":true,"info":""},{"id":"3354cb44.41dd4c","type":"http response","z":"163859f2.d029e6","name":"","statusCode":"","headers":{},"x":530,"y":140,"wires":[]},{"id":"413b3b77.61e5fc","type":"http in","z":"163859f2.d029e6","name":"HTTP HEllo World","url":"/hw","method":"get","upload":false,"swaggerDoc":"","x":150,"y":140,"wires":[["79ba331c.eba184"]]},{"id":"79ba331c.eba184","type":"template","z":"163859f2.d029e6","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":" <!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<title>Page Title</title>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<style>\nbody {\n  font-family: Arial, Helvetica, sans-serif;\n}\n</style>\n</head>\n<body>\n\n<h1>My Website</h1>\n<p>A website created by me.</p>\n\n</body>\n</html> ","output":"str","x":360,"y":140,"wires":[["3354cb44.41dd4c"]]}]