Life expectancy flows.json
[{"id":"4266ee96.1e565","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"feef84b5.a0d2a8","type":"ui_text","z":"4266ee96.1e565","group":"e751fcfe.99dc08","order":2,"width":0,"height":0,"name":"","label":"Life Expectancy","format":"{{msg.payload}}","layout":"row-spread","x":880,"y":160,"wires":[]},{"id":"bdba7ed7.ebcd48","type":"function","z":"4266ee96.1e565","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;\n","outputs":1,"noerr":0,"x":604.6000366210938,"y":107.60000610351562,"wires":[["feef84b5.a0d2a8"]]},{"id":"ce0a8056.64962","type":"http request","z":"4266ee96.1e565","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/419191e8-1d97-4213-98ff-e41abc14895c/predictions","tls":"","persist":false,"proxy":"","authType":"","x":670,"y":200,"wires":[["97ebc157.03d8d","bdba7ed7.ebcd48"]]},{"id":"84c53ec9.c41b1","type":"function","z":"4266ee96.1e565","name":"Pre Prediction","func":"var cntry = global.get('cntry')\nvar yr = global.get('yr')\nvar sts = global.get('sts')\nvar am = global.get('am')\nvar id = global.get('id')\nvar alcl = global.get('alcl')\nvar pe = global.get('pe')\nvar hb = global.get('hb')\nvar msl = global.get('msl')\nvar bmi = global.get('bmi')\nvar ufd = global.get('ufd')\nvar pol = global.get('pol')\nvar te = global.get('te')\nvar diph = global.get('diph')\nvar ha = global.get('ha')\nvar gdp = global.get('gdp')\nvar popl = global.get('popl')\nvar t1to19ye = global.get('t1to19ye')\nvar t5to9ye = global.get('t5to9ye')\nvar incmcom = global.get('incmcom')\nvar sch = global.get('sch')\nvar token=msg.payload.access_token\nvar instance_id=\"50028aae-4c5e-4c64-93d1-3c5f07b07ef4\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload= {\"input_data\": [{\"fields\": [\"Country\", \"Year\", \"Status\", \"Adult_Mortality\", \"infant_deaths\", \"Alcohol\", \"percentage_expenditure\", \"Hepatitis_B\", \"Measles \", \" BMI \", \"under_five_deaths \", \"Polio\", \"Total_expenditure\", \"Diphtheria \", \" HIV_AIDS\", \"GDP\", \"Population\", \" thinness _1_19_years\", \" thinness_5_9_years\", \"Income_composition_of_resources\", \"Schooling\"], \"values\": [[cntry,yr,sts,am,id,alcl,pe,hb,msl,bmi,ufd,pol,te,diph,ha,gdp,popl,t1to19ye,t5to9ye,incmcom,sch]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":280,"wires":[["ce0a8056.64962"]]},{"id":"82e706fd.220808","type":"http request","z":"4266ee96.1e565","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":454,"y":305,"wires":[["84c53ec9.c41b1"]]},{"id":"97a3741c.a3072","type":"function","z":"4266ee96.1e565","name":"setting Variable","func":"global.set(\"cntry\",msg.payload.cntry)\nglobal.set(\"yr\",msg.payload.yr)\nglobal.set(\"sts\",msg.payload.sts)\nglobal.set(\"am\",msg.payload.am)\nglobal.set(\"id\",msg.payload.id)\nglobal.set(\"alcl\",msg.payload.alcl)\nglobal.set(\"pe\",msg.payload.pe)\nglobal.set(\"hb\",msg.payload.hb)\nglobal.set(\"msl\",msg.payload.msl)\nglobal.set(\"bmi\",msg.payload.bmi)\nglobal.set(\"ufd\",msg.payload.ufd)\nglobal.set(\"pol\",msg.payload.pol)\nglobal.set(\"te\",msg.payload.te)\nglobal.set(\"diph\",msg.payload.diph)\nglobal.set(\"ha\",msg.payload.ha)\nglobal.set(\"gdp\",msg.payload.gdp)\nglobal.set(\"popl\",msg.payload.popl)\nglobal.set(\"t1to19ye\",msg.payload.t1to19ye)\nglobal.set(\"t5to9ye\",msg.payload.t5to9ye)\nglobal.set(\"incmcom\",msg.payload.incmcom)\nglobal.set(\"sch\",msg.payload.sch)\nvar apikey=\"3LM4EAo5w0L--VdoVwHMwbuFQSupmV70vWOyXPIAqPJX\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":180,"wires":[["82e706fd.220808"]]},{"id":"9b2a4653.12e8","type":"inject","z":"4266ee96.1e565","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":100,"wires":[["97a3741c.a3072"]]},{"id":"112a1050.6f1d18","type":"ui_form","z":"4266ee96.1e565","name":"","label":"","group":"e751fcfe.99dc08","order":1,"width":0,"height":0,"options":[{"label":"Country","value":"cntry","type":"text","required":true,"rows":null},{"label":"Year","value":"yr","type":"number","required":true,"rows":null},{"label":"Status","value":"sts","type":"text","required":true,"rows":null},{"label":"Adult_Mortality","value":"am","type":"number","required":true,"rows":null},{"label":"infant_deaths","value":"id","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"alcl","type":"number","required":true,"rows":null},{"label":"percentage_expenditure","value":"pe","type":"number","required":true,"rows":null},{"label":"Hepatitis_B","value":"hb","type":"number","required":true,"rows":null},{"label":"Measles ","value":"msl","type":"number","required":true,"rows":null},{"label":" BMI ","value":"bmi","type":"number","required":true,"rows":null},{"label":"under_five_deaths ","value":"ufd","type":"number","required":true,"rows":null},{"label":"Polio","value":"pol","type":"number","required":true,"rows":null},{"label":"Total_expenditure","value":"te","type":"number","required":true,"rows":null},{"label":"Diphtheria ","value":"diph","type":"number","required":true,"rows":null},{"label":" HIV_AIDS","value":"ha","type":"number","required":true,"rows":null},{"label":"GDP","value":"gdp","type":"number","required":true,"rows":null},{"label":"Population","value":"popl","type":"number","required":true,"rows":null},{"label":" thinness _1_19_years","value":"t1to19ye","type":"number","required":true,"rows":null},{"label":" thinness_5_9_years","value":"t5to9ye","type":"number","required":true,"rows":null},{"label":"Income_composition_of_resources","value":"incmcom","type":"number","required":true,"rows":null},{"label":"Schooling","value":"sch","type":"number","required":true,"rows":null}],"formValue":{"cntry":"","yr":"","sts":"","am":"","id":"","alcl":"","pe":"","hb":"","msl":"","bmi":"","ufd":"","pol":"","te":"","diph":"","ha":"","gdp":"","popl":"","t1to19ye":"","t5to9ye":"","incmcom":"","sch":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":290,"y":240,"wires":[["97a3741c.a3072"]]},{"id":"97ebc157.03d8d","type":"debug","z":"4266ee96.1e565","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":860,"y":400,"wires":[]},{"id":"e751fcfe.99dc08","type":"ui_group","z":"","name":"Default","tab":"6828186c.03c33","order":1,"disp":true,"width":"6","collapse":false},{"id":"6828186c.03c33","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]